<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>

<h1>Create New Product</h1>

<form action="/create" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="price" placeholder="price">
    <input type="text" name="description" placeholder="description">
    <button type="submit">Create</button>
</form>

<div th:insert="fragments/bottom"></div>

</body>
</html>