<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>

<h1>Vareliste</h1>
<!-- varetabel -->
<table>
    <thead>
        <tr>
            <th>Varenavn</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Kaffe</td>
            <td th:text="${product.price}">35</td>
            <td th:text="${product.description}">lækker</td>
        </tr>
    </tbody>

    <a href="create">Opret product</a>

</table>

</body>
</html>