<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head">
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>

<h1>Item List</h1>
<!-- varetabel -->

<p><a href="create">Create New Product</a></p>

<table>
    <thead>
    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">Kaffe</td>
        <td th:text="${product.price}">35</td>
        <td th:text="${product.description}">lækker</td>
        <td><a th:href="@{'/update/' + ${product.id}}">Update</a></td>
        <td><a th:href="@{'/delete/' + ${product.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div th:insert="fragments/bottom"></div>

</body>
</html>